include ../partials/head.pug
include ../partials/navigation.pug

.container
    .signupForm
        h3.pageMainHeader.mt-5 Новый пароль
        if message
            .alert.alert-danger(role="alert") #{message}
        form(action="/new-password" method="POST")
            .form-group
                label(for="password") Пароль:
                    span.star *
                input.form-control(type="password", name="password" id="password" placeholder="Пароль" required)
            .form-group
                label(for="confirmPassword") Подтвердить пароль:
                    span.star *
                input.form-control(type="password", name="confirmPassword" id="confirmPassword" placeholder="Повторите пароль" required)
            input(type="hidden" name="userId" value=userId)
            input(type="hidden" name="passwordToken" value=passwordToken)
            input(type="hidden" name='_csrf' value=csrfToken)   

            button.btn.btn-outline-success.btn-sm(type="submit") Обновить пароль

include ../partials/foot.pug