include ../partials/head.pug
include ../partials/navigation.pug

.container
    .signupForm
        h3.pageMainHeader.mt-5 Регистрация
        if message
            .alert.alert-danger(role="alert") #{message}
        form(action="/signup" method="POST")
            .form-group
                label(for="login") Логин:
                    span.star *
                input.form-control(type="text", name="login" id="login" placeholder="Ваш логин" required)
            .form-group
                label(for="email") Email:
                    span.star *
                input.form-control(type="email", name="email" id="email" placeholder="Ваша почта" required)
            .form-group
                label(for="password") Пароль:
                    span.star *
                input.form-control(type="password", name="password" id="password" placeholder="Пароль" required)
            .form-group
                label(for="confirmPassword") Подтверждение пароля:
                    span.star *
                input.form-control(type="password", name="confirmPassword" id="confirmPassword" placeholder="Повторите пароль" required)
            input(type="hidden", name='_csrf' value=csrfToken)            
            button.btn.btn-outline-success.btn-sm(type="submit") Зарегистрироваться

include ../partials/foot.pug