<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="/other/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        if path=="/error"
            link(rel="stylesheet", href="/css/error.css")
        if path=="/add-post"
            link(rel="stylesheet", href="/sceditor/minified/themes/modern.min.css")
        title #{pageTitle}
    body