include partials/head.pug
include partials/navigation
#notfound
    a(href="/")
        .notfound
            .notfound-404
                h3 Ой! Страница не найдена
                h1
                    span 4
                    span 0
                    span 4
            h2 извините, но страница, которую вы запросили, не найдена

include partials/foot.pug