@import url('https://fonts.googleapis.com/css?family=Literata:400,400i,600,700&display=swap');

body{
    font-family: 'Literata' !important;
    color: #343A40 !important;
}
.postHeaderReference{
    text-decoration: none;
}

.star {
    color: red;
}

.signupForm {
    width: 30rem;
    max-width: 80%;
    align-self: center;
    margin: auto;
}

.commentText{
    width: 100%;
}

.deleteCommentForm{
    display: inline-block;
}

.commentFormDivider{
    border-top: 2px solid #C0C0C0;
}

.editCommentTextarea{
    width: 100%;
    display: block;
}