include ../partials/head.pug
include ../partials/navigation.pug

.container
    .pageMainHeader.mt-5
        h3 Форма создания публикации
    form(action="/posts/add-post" method="POST")
        .form-group
            label(for="title") Заголовок поста:
                span.star *
            input.form-control(type="text", name="title" id="title" placeholder="Заголовок" required)
            small.form-text.text-muted Заголовок должен отражать смысл публикации
        .form-group
            label(for="theme") Тема поста:
            select.form-control(name="theme" id="theme" placeholder="выберете тему поста")
                each theme in themes
                 option(value=theme._id) #{theme.themeName}
        .form-group
            .d-flex.justify-content-between.mb-2(style="width: 90%")
                label(for="text") Текст:
            textarea.form-control(name="text", id="text" rows="20")
        input(type="hidden", name="_csrf" value=csrfToken)
        button.btn.btn-outline-success.btn-sm(type="submit") Опубликовать

include ../partials/foot.pug
